h1 {
     color: blue;
     margin: 0;
     padding: 20px 0;
     color: #00539f;
     text-shadow: 3px 3px 1px black;
     text-align: center;
    

    
}

body {
   background-color: thistle;
}
h2 {

    color: cornflowerblue;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    text-decoration-line:underline
   
}

li {
    color: #9a3939;
    font-style: oblique;
}

.maclasse{
    color: rgb(145, 197, 242);
    font-size: x-large;
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: 400;
    font-style: normal
    
}

.idlUNESCO{

    color: aliceblue;
}

h3 {

    color: aqua;
    font-size: x-large;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
      text-align: center;
      
}
img {
    display: block;
    margin: auto;
    height:500px

}
h4 {
    color: crimson;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
}
h5 {

    color: aquamarine;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
      text-align: right;
}
p{
   color: darkgreen;
   font-style: italic;
  
}



figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }



  .p {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
  }